<form action="mailto:kfatehi@uci.edu" method="GET" enctype="multipart/form-data">
<input name="subject" type="text" value="ORDER"/>
<textarea name="body">
Hello

I would like to order product ID: <%= key %>

Name: 

Address:

Thanks!
</textarea>
<input type="submit" value="Send" />
</form>
<script src="js/mail-order-form.js"></script>
