// The Main Style Sheet for this project 

body 
{
  background-image: url("images/background.png");
  background-position: top;
}

#content p, #content h1, #content h2, #content h3, #content h4, #content h5, #content h6, #content ul 
{
    line-height: normal;
}

#content 
{
  width: 58.125rem;
  font-weight: bold;
  word-spacing: 1px;
  margin: 0.3125rem;
  padding: 0;
}

.cat-nav-item 
{
  font-weight: bold;
}
